@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --font-first: "Inter Tight", sans-serif;
  --font-second: "Open Sans", sans-serif;
  --font-space: "Space Grotesk", sans-serif;
  --color-primary: #f7f7f7;
  --color-secondary: #000;
  --color-tertary: #b701ff;
  --color-border: #9191915e;
  --color-dull: #a5a5a548;
  --color-shadow: #9800d4e1;
  --color-shadow-prime: #9292926e;
  --color-two: #dadada34;
}

.dark-mode {
  --color-primary: #000;
  --color-secondary: #f7f7f7;
  --color-tertary: #b701ff;
  --color-shadow-prime: #141414b6;
  --color-two: #8d8d8d54;
}

.toggle-switch {
  position: fixed;
  top: 16px;
  right: 16px;
  width: 48px;
  height: 48px;
  border-radius: 999px;
  background-color: var(--color-tertary);
  transition: all 0.4s ease-in-out;
  font-size: 1.4em;
  cursor: pointer;
  z-index: 9999999;
}

.toggle-switch:active {
  transform: rotate(360deg);
}

.containerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--color-primary);
  overflow-x: hidden;
}

body .row {
  overflow-x: hidden;
}

body a {
  text-decoration: none;
}

body button:hover {
  filter: brightness(0.85);
  cursor: pointer;
}

body h1 {
  /* width: 100%; */
  text-align: center;
  font-family: var(--font-first);
}

body p {
  font-family: var(--font-second);
}

body .row {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 28px;
  padding-block: 44px;
}

header {
  width: 100%;
  position: fixed;
  bottom: 16px;
  z-index: 999;
}

header nav {
  width: 400px;
  gap: 16px;
  padding: 16px 28px;
  border-radius: 999px;
  border: 2px solid var(--color-border);
  background-color: var(--color-primary);
  box-shadow: 0 24px 64px var(--color-shadow-prime);
}

nav a {
  padding: 8px 12px;
  font-size: 1.2em;
  color: var(--color-secondary);
  font-family: var(--font-space);
  border: 2px solid transparent;
  position: relative;
  transition: all 0.3s ease-in-out;
}

nav a:active,
nav a.active {
  border-bottom: 2px solid var(--color-tertary);
}

nav a p {
  position: absolute;
  top: -80%;
  left: -50%;
  font-size: 0.8em;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-family: var(--font-space);
  padding: 4px 6px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(-8px);
  text-align: center;
  transition: all 0.2s ease-in-out;
}

nav a:hover p {
  transform: translateY(0px);
  opacity: 1;
  color: var(--color-primary) !important;
}

nav a:hover {
  border-bottom: 2px solid var(--color-tertary);
  background-color: var(--color-dull);
}

.Home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  gap: 16px;
  position: relative;
}
.Home .row {
  padding-block: 16px !important;
}
.Home,
.experties .row,
.projectContainer .row,
.contactContainer .row {
  height: auto;
  overflow-y: hidden !important;
}

.Home::after {
  content: "";
  height: 200px;
  width: 400px;
  position: absolute;
  top: -64px;
  left: -20px;
  opacity: 0.15;
  z-index: -999;
  background-color: var(--color-shadow);
}

.Home::before {
  content: "";
  height: 200px;
  width: 400px;
  position: absolute;
  bottom: -20%;
  right: -45px;
  opacity: 0.1;
  z-index: -999;
  background-color: var(--color-shadow);
}

.Home h1 {
  color: var(--color-secondary);
  font-size: clamp(3em, 6vw, 6em);
  letter-spacing: -2px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    64deg,
    var(--color-tertary),
    var(--color-shadow),
    var(--color-primary)
  );
  -webkit-background-clip: text;
}

.Home h1 span {
  color: var(--color-tertary);
}

.Home p:nth-child(3) span {
  color: var(--color-tertary);
}

.Home p:first-child {
  color: var(--color-secondary);
  width: 80%;
  font-size: 1em;
  font-weight: bold;
  font-family: var(--font-space);
}

.Home p:nth-child(3) {
  color: var(--color-secondary);
  font-size: 1.85em;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: var(--font-first);
}

.Home .row p:last-child {
  font-size: 1.6em;
}

.Home .imgContainer {
  width: 100%;
}

.Home img:hover {
  border: 2px dashed var(--color-border);
}

.imgContainer img {
  border-radius: 999px;
  width: 300px;
  box-shadow: 0 0 0 12px var(--color-dull);
  transition: all 0.1s ease-in;
}

.experties,
.projectContainer,
.contactContainer {
  margin: auto;
  width: 100%;
  height: 120vh;
  gap: 44px;
  flex-direction: column;
}

.experties h1,
.projectContainer h1,
.contactContainer h1 {
  font-size: clamp(3em, 4vw, 5em);
  position: relative;
  color: var(--color-secondary);
  text-transform: uppercase;
}

.experties h1::after,
.projectContainer h1::after,
.contactContainer h1::after {
  content: "";
  height: 2px;
  width: 44px;
  background-color: var(--color-tertary);
  position: absolute;
  bottom: 4px;
  right: 0px;
  border-radius: 999px;
}

.experties,
.contactContainer {
  background-color: var(--color-secondary);
}

.experties h1,
.contactContainer h1 {
  color: var(--color-primary);
}

.experties p,
.contactContainer p {
  color: var(--color-primary) !important;
}

.contactContainer .contactIcons i {
  color: var(--color-primary);
}

.experties .cardContainer {
  width: 100%;
  gap: 16px;
  flex-wrap: wrap;
}

.experties .msgButton a {
  border: 0 0 0 2px var(--color-primary) !important;
}

.experties .msgButton a:hover {
  box-shadow: 0 0 0 4px var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.cardContainer .card {
  width: 250px;
  border: 1px solid var(--color-dull);
  overflow: hidden;
  padding: 30px;
  gap: 12px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 16px;
  flex: 1 300px;
  justify-content: space-between;
}

.card p {
  width: 100%;
  font-family: var(--font-space);
  color: var(--color-primary);
}

.card:hover {
  transform: scale(1.01);
  border: 1px solid var(--color-primary);
}

.card .logoContainer {
  display: flex;
  overflow: hidden;
}

.cardContainer .cardContents {
  flex-direction: column;
  text-align: right;
}

.cardContainer .cardContents p:first-child {
  font-weight: bold;
  font-family: var(--font-first);
  font-size: 1.2em;
}

.cardContainer .cardContents p:nth-child(2) {
  color: var(--color-primary);
  opacity: 0.56;
}

.card .logoContainer img {
  border-radius: 8px;
  width: 4em;
}

.projectContainer {
  width: 100%;
  overflow: hidden;
}

.projectContainer .projectCardContainer {
  width: 100%;
  justify-content: space-between;
  gap: 30px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-inline: 8px;
}

.projectCardContainer .projectCard {
  min-width: 400px;
  flex-direction: column;
  gap: 16px;
  border: 1px solid var(--color-dull);
  padding: 16px;
  border-radius: 16px;
}

.projectCard:hover {
  border: 1px solid var(--color-secondary);
}

.projectCard h2 {
  font-family: var(--font-first);
  font-weight: bold;
  font-size: 1.4em;
  color: var(--color-secondary);
}

.projectCard p {
  font-family: var(--font-space);
  color: var(--color-secondary);
  opacity: 0.65;
}

.projectCard .projectImgContainer {
  width: 100%;
}

.projectCard a {
  width: auto;
  color: var(--color-secondary);
  gap: 4px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  font-family: var(--font-space);
  padding: 8px 12px;
  transition: all 0.1s ease-in-out;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.projectCard a i {
  color: var(--color-tertary);
}

.projectCard a i {
  transition: all 0.1s ease-in-out;
}

.projectCard a:hover {
  transform: scale(0.9);
}

.projectCard a:hover i {
  transform: scaleX(1.2);
  transform-origin: left;
}

.projectImgContainer img {
  width: 100%;
  border-radius: 10px;
}

.contactIcons {
  width: 100%;
  gap: 24px;
}

.contactIcons + a {
  background-color: none !important;
  color: none !important;
}

.contactIcons a i {
  font-size: 2em;
  padding: 6px;
  position: relative;
  color: var(--color-secondary);
  cursor: pointer;
  opacity: 0.2;
  transition: all 0.1s ease-in;
  background-color: transparent;
}

.contactIcons a i::after {
  content: "";
  height: 4px;
  width: 4px;
  background-color: var(--color-secondary);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 999px;
  /* opacity: 0; */
}

.contactIcons a i:hover::after {
  opacity: 1;
}

.contactIcons a i:hover {
  transform: scale(1.4);
  opacity: 1;
}

.msgButton a {
  background-color: var(--color-tertary);
  box-shadow: 0 0 0 1px var(--color-secondary);
  padding: 20px 24px;
  color: var(--color-secondary);
  font-family: var(--font-space);
  font-weight: bold;
  transition: all 0.1s ease-out;
}

.msgButton a:hover {
  box-shadow: 0 0 0 4px var(--color-secondary);
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.msgButton a:nth-child(2) {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.contactContainer .row {
  border-bottom: 1px solid var(--color-border);
}

.contactContainer .msgButton a:first-child:hover {
  background-color: var(--color-primary);
  color: var(--color-tertary);
}

.contactContainer i:hover::after {
  background-color: var(--color-primary);
}

.msgButton a:nth-child(2):hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.contactContainer .msgButton a:nth-child(2):hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  box-shadow: 0 0 0 4px var(--color-primary);
}

.contactContainer p:nth-child(2),
.experties p:not(.experties .cardContents p),
.projectContainer p:not(.projectCardContainer p),
.Home p:last-child {
  font-size: 1.2em;
  font-family: var(--font-space);
  color: var(--color-secondary);
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 34px;
}

.contactContainer p:nth-child(2) span,
.experties p span,
.projectContainer p span {
  font-weight: bold;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  font-family: var(--font-space);
}

footer div {
  width: 100%;
  padding: 3px;
  backdrop-filter: blur(10px);
}

footer div p {
  color: var(--color-dull);
  font-size: 0.6em;
  opacity: 0.65;
  font-weight: bold;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  body .row {
    width: 94%;
  }

  .projectContainer {
    height: auto;
  }

  .projectContainer .projectCardContainer {
    overflow: hidden;
    flex-wrap: wrap;
  }

  .projectCardContainer .projectCard {
    width: 100%;
  }

  .experties {
    height: auto;
  }

  .contactContainer p:nth-child(2),
  .experties p:not(.experties .cardContents p),
  .projectContainer p:not(.projectCardContainer p) {
    font-size: 1em;
    font-family: var(--font-space);
    color: var(--color-secondary);
    text-transform: capitalize;
    text-align: center;
  }

  .Home .row p:last-child {
    font-size: 1em;
  }

  .Home .row p:nth-child(3) {
    font-size: 1em;
  }
}
